# Terraform local files
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
.terraform.lock.hcl

# CLI config files
terraform.rc
.terraformrc

# PEM keys
*.pem

# OS/editor files
.DS_Store
Thumbs.db
*.swp
